/* .flex_upper{
    display: flex;
}

  .upperrounded{
    color: var(--dark)!important;
    border: 1px solid var(--light);
    border-radius:16px;
    padding: 2px 16px;
    height: 2.3rem;
    background: var(--light);
    min-width:5rem!important;
    margin-right: 1rem!important;
  }

  .cross{
    color: #989898!important;
    font-size: 11px!important;
    cursor: pointer;
  }


  .upperroundedclearall{
    color: var(--light)!important;
    border: 1px solid #FF7F7F;
    border-radius:16px;
    padding: 2px 16px;
    height: 2.3rem;
    background: #FF7F7F;
    min-width:5rem!important;
    margin-right: 1rem!important;
    cursor: pointer;
  }

  .az{
      margin-left: 9rem!important;
      outline: none;
      cursor: pointer;
      border: 1px solid transparent;
      padding: 0 .3rem!important;
      text-transform: uppercase;
      transition: all .3s ease;
      background: transparent;
      border-color: var(--dark);
      height: 2rem!important;
      border-radius: 7px!important;
  }

 */














 .flex_upper{
  display: flex;
  flex-wrap: wrap!important;
 }

 /* .flexs{
   display:flex;
   justify-content: space-between;
   flex-wrap: wrap!important;
 } */


 .first_flex{
  display:flex;
 }


 .upperrounded{
  color: var(--dark)!important;
  border: 1px solid var(--light);
  border-radius:16px;
  padding: 2px 16px;
  height: 2.3rem;
  background: var(--light);
  min-width:5rem!important;
  margin-right: .4rem!important;
}



.cross{
  color: #989898!important;
  font-size: 11px!important;
  cursor: pointer;
}


.upperroundedclearall{
  color: var(--light)!important;
  border: 1px solid #FF7F7F;
  border-radius:16px;
  padding: 2px 16px;
  height: 2.3rem;
  background: #FF7F7F;
  min-width:5rem!important;
  margin-right: 1rem!important;
  cursor: pointer;
}

.az{
  margin-left: 2.2rem!important;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0 .3rem!important;
  text-transform: uppercase;
  transition: all .3s ease;
  background: transparent;
  border-color: var(--dark);
  height: 2rem!important;
  border-radius: 7px!important;
}